@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: rgb(1, 1, 18);
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-image: linear-gradient(
      0deg,
      rgba(99, 101, 241, 0.325) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(99, 101, 241, 0.327) 1px, transparent 1px);

  background-size: 20px 20px;
}

.font-fira-code {
  font-family: 'Fira Code', monospace !important;
}

.retro {
  text-shadow: 1px 1px 95px #fcd34da1, 2px 2px 16px #f472b5b8,
    3px 3px 90px #22d3eeb3;
  letter-spacing: 1px;
}

.font-space-mono {
  font-family: 'Space Mono', monospace !important;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Mono', monospace;
  font-weight: 900;
  color: white !important;
  line-height: 1.2;
}

h1 {
  @apply text-4xl-mobile sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
}

h2 {
  @apply text-3xl-mobile sm:text-3xl md:text-3xl lg:text-3xl xl:text-4xl;
}

h3 {
  @apply text-2xl-mobile sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl;
}

p {
  font-weight: 400;
  color: white;
}

a {
  font-weight: 400;
  color: white;
}

.custom-link-2 {
  text-decoration: underline;
  text-decoration-color: #ffc107;
}

/* markdown */
.mdx ul li {
  position: relative;
  padding-left: 1.5rem;
  list-style: none; /* Add this line to remove the default bullets */
}

.mdx ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fde68a; /* yellow-200 color */
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.mdx ul.no-bullet li::before {
  content: none;
}

.prose :where(pre):not(:where([class~='not-prose'] *)) {
  @apply border-indigo-500 !important;
  @apply rounded-md;
  @apply shadow-indigo-900 shadow-lg;
}

.no-bullet li::before {
  content: none;
}

.prose p code {
  @apply text-yellow-200;
}

p a {
  text-decoration: underline;
  @apply decoration-sky-300;
}

a:hover {
  text-underline-offset: 0.3rem;
}

.border-custom-blue {
  @apply border-sky-300;
}

.custom-nav-link {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.4px;
  line-height: 2;
  position: relative;
  text-decoration: none;
  padding: 0 0.2rem;
  font-family: 'Space Mono', monospace !important;
}

.custom-nav-link--header {
  font-size: 1.25rem;
}

.custom-nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  @apply bg-sky-300;
  opacity: 1;
  height: 2px;
  margin-bottom: -0.3rem;
  transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
}

.custom-nav-link:hover::after {
  opacity: 1;
  height: 6px;
}

.custom-nav-link:focus {
  @apply outline outline-sky-300 outline-4;
}

nav a:focus,
button:focus {
  @apply outline outline-sky-300 outline-2 outline-offset-4;
}

.glassWrapper {
  background-color: rgba(6, 2, 35, 0.16);
  backdrop-filter: blur(40px);
  z-index: 100;
}

.backgroundGlass {
  background-color: rgba(6, 2, 35, 0.765);
  backdrop-filter: blur(10px);
}

.mobile-menu-button {
  position: relative; /* or absolute depending on the parent positioning */
  width: 40px; /* adjust as per your need */
  height: 40px; /* adjust as per your need */
  margin-top: auto;
  margin-bottom: auto;
}
.mobile-menu-button svg {
  margin: auto;
}

.text-paragraph {
  @apply text-lg md:text-xl md:pr-5 mb-4;
}

.bgGradientImg {
  padding: 5px;
  box-shadow: 0 0 0 7px #4bbcdf;
  box-shadow: 0 0 0 3px #fde68a;
  box-shadow: 0 0 0 3px #c8c8c8;
}
